.table-borderr {
    border-radius: 10px; 
    text-align: center;
    /* background: #cadad6;
         */
    background: #f2f2f2;
    /* background: #f2f2f2e8; */
    /*  */
}

.centerr{
    display: flex;
    justify-content: center;
    align-items: center;
}